<div class="container">
  <div class="timer-container">
    <mat-progress-spinner
      color="primary"
      mode="determinate"
      [value]="currentSpinnerValue"
      [diameter]="320"
      [strokeWidth]="10"
      aria-label="Timer progress"
    ></mat-progress-spinner>

    <div class="timer-status mat-display-4">
      <countdown #cd [config]="countdownConfig" (event)="timerChange($event)"></countdown>
      <span class="timer-label mat-display-1">{{ currentTimerType }}</span>
    </div>
  </div>

  <div class="timer-buttons">
    <button
      mat-fab
      color="accent"
      (click)="timerStopAction$.next()"
      [disabled]="isStopButtonDisabled"
      aria-label="Stop"
    >
      <mat-icon svgIcon="stop"></mat-icon>
    </button>
    <button mat-fab color="accent" (click)="toggleTimer()" aria-label="Toggle timer">
      <mat-icon [svgIcon]="toggleIcon"></mat-icon>
    </button>
  </div>
</div>
