<div class="container">
  <form [formGroup]="form">
    <div class="setting">
      <p class="label">Work Duration</p>
      <mat-slider min="0" max="90" step="1" thumbLabel tickInterval="5" formControlName="workDuration"></mat-slider>
    </div>
    <div class="setting">
      <p class="label">Break Duration</p>
      <mat-slider min="0" max="30" step="1" thumbLabel tickInterval="5" formControlName="breakDuration"></mat-slider>
    </div>
    <div class="setting">
      <p class="label">Rounds</p>
      <mat-slider min="0" max="10" step="1" thumbLabel tickInterval="1" formControlName="rounds"></mat-slider>
    </div>

    <mat-list>
      <mat-list-item>
        <div mat-line>Timer in title</div>
        <mat-slide-toggle formControlName="timerInTitleEnabled"></mat-slide-toggle>
      </mat-list-item>
      <mat-list-item>
        <div mat-line>Dark mode</div>
        <mat-slide-toggle formControlName="darkModeEnabled"></mat-slide-toggle>
      </mat-list-item>
    </mat-list>
  </form>

  <div class="reset">
    <button mat-raised-button color="accent" (click)="resetSettings()">Reset settings</button>
  </div>
</div>
