<div class="container">
  <form [formGroup]="form">
    <div class="setting">
      <p class="label">{{ 'SETTINGS.WORK_DURATION' | translate }}</p>
      <mat-slider
        min="0"
        max="90"
        step="1"
        thumbLabel
        tickInterval="5"
        formControlName="workDuration"
        [attr.aria-label]="'SETTINGS.WORK_DURATION' | translate"
      ></mat-slider>
    </div>
    <div class="setting">
      <p class="label">{{ 'SETTINGS.BREAK_DURATION' | translate }}</p>
      <mat-slider
        min="0"
        max="30"
        step="1"
        thumbLabel
        tickInterval="5"
        formControlName="breakDuration"
        [attr.aria-label]="'SETTINGS.BREAK_DURATION' | translate"
      ></mat-slider>
    </div>
    <div class="setting">
      <p class="label">{{ 'SETTINGS.ROUNDS' | translate }}</p>
      <mat-slider
        min="0"
        max="10"
        step="1"
        thumbLabel
        tickInterval="1"
        formControlName="rounds"
        [attr.aria-label]="'SETTINGS.ROUNDS' | translate"
      ></mat-slider>
    </div>

    <mat-list>
      <mat-list-item>
        <mat-slide-toggle formControlName="timerInTitleEnabled">
          {{ 'SETTINGS.TIMER_IN_TITLE' | translate }}
        </mat-slide-toggle>
      </mat-list-item>
      <mat-list-item>
        <mat-slide-toggle formControlName="darkModeEnabled">
          {{ 'SETTINGS.DARK_MODE' | translate }}
        </mat-slide-toggle>
      </mat-list-item>
    </mat-list>
  </form>

  <div class="reset">
    <button mat-raised-button color="accent" (click)="resetSettings()">
      {{ 'SETTINGS.RESET_SETTINGS' | translate }}
    </button>
  </div>
</div>
