<div class="theme mat-app-background" [class.dark-theme]="isDarkModeEnabled$ | async">
  <mat-toolbar color="primary" class="mat-elevation-z6">
    <mat-toolbar-row>
      <a mat-button routerLink="/" aria-label="Focus on It">
        <img src="assets/logo.webp" width="30" height="30" alt="Focus on It" />
        Focus on it
      </a>

      <span class="spacer"></span>

      <a mat-button class="toolbar-button" routerLink="info">
        <mat-icon svgIcon="info"></mat-icon> {{ 'COMMON.INFO' | translate }}
      </a>
      <a mat-button class="toolbar-button" routerLink="settings">
        <mat-icon svgIcon="settings"></mat-icon> {{ 'COMMON.SETTINGS' | translate }}
      </a>

      <a mat-icon-button class="toolbar-icon" routerLink="info" [attr.aria-label]="'COMMON.INFO' | translate">
        <mat-icon svgIcon="info"></mat-icon>
      </a>
      <a mat-icon-button class="toolbar-icon" routerLink="settings" [attr.aria-label]="'COMMON.SETTINGS' | translate">
        <mat-icon svgIcon="settings"></mat-icon>
      </a>
    </mat-toolbar-row>
  </mat-toolbar>

  <main class="content" [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig">
    <router-outlet #o="outlet"></router-outlet>
  </main>
</div>
