<div class="theme">
  <mat-toolbar color="primary" class="mat-elevation-z6">
    <mat-toolbar-row>
      <a routerLink="/" aria-label="Focus On It">
        <!--
          TODO: add logo image
          <img src="images/logo.svg" alt="Phocus On It" />
        -->
        Focus on It
      </a>

      <span class="spacer"></span>

      <a mat-button class="toolbar-button" routerLink="info"><mat-icon>info</mat-icon> Info</a>
      <a mat-button class="toolbar-button" routerLink="settings"><mat-icon>settings</mat-icon> Settings</a>

      <a mat-icon-button class="toolbar-icon" routerLink="info">
        <mat-icon>info</mat-icon>
      </a>
      <a mat-icon-button class="toolbar-icon" routerLink="settings">
        <mat-icon>settings</mat-icon>
      </a>
    </mat-toolbar-row>
  </mat-toolbar>

  <main class="content" [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig">
    <router-outlet #o="outlet"></router-outlet>
  </main>
</div>
