.theme {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;

  .content {
    flex: 1 0 auto;
    overflow: hidden;
  }
}

.mat-toolbar {
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  .spacer {
    flex: 1 1 auto;
  }

  .toolbar-button {
    display: block;
  }

  .toolbar-icon {
    display: none;
  }

  @media (max-width: 600px) {
    .toolbar-button {
      display: none;
    }

    .toolbar-icon {
      display: block;
    }
  }
}

.mat-toolbar-row {
  max-width: 600px;
  align-self: center;
}
