@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

@import '~@angular/material/theming';
@include mat-core();

$focus-on-it-primary: mat-palette($mat-teal, 500, 100, 900);
$focus-on-it-accent: mat-palette($mat-pink, A200, A100, A400);
$focus-on-it-warn: mat-palette($mat-red);

$focus-on-it-light-theme: mat-light-theme(
  (
    color: (
      primary: $focus-on-it-primary,
      accent: $focus-on-it-accent,
      warn: $focus-on-it-warn,
    ),
  )
);

$focus-on-it-dark-theme: mat-dark-theme(
  (
    color: (
      primary: $focus-on-it-primary,
      accent: $focus-on-it-accent,
      warn: $focus-on-it-warn,
    ),
  )
);

@include angular-material-theme($focus-on-it-light-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.dark-theme {
  @include angular-material-color($focus-on-it-dark-theme);
}
