<h1 mat-dialog-title *ngIf="data.title">{{ data.title }}</h1>
<div mat-dialog-content>
  <p>{{ data.description }}?</p>
</div>

<ng-container *ngIf="data.cancelOrConfirm; then cancelOrConfirmActions; else confirmAction"></ng-container>

<ng-template #cancelOrConfirmActions>
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="false">Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Confirm</button>
  </div>
</ng-template>

<ng-template #confirmAction>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
  </div>
</ng-template>
